{erl_opts, [debug_info, warnings_as_errors, warn_export_all, warn_obsolete_guards, warn_unused_import]}.

{project_plugins,
 [covertool,
  erlfmt,
  rebar3_proper]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_excl_mods, [brotli_nif]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions]}.
{xref_ignores, []}.

{profiles,
 [{test, [{erl_opts, [debug_info, nowarn_export_all, warnings_as_errors]},
          {deps, [proper]}]}]}.

{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make -C c_src -j"},
   {"(freebsd)", compile, "gmake -C c_src"}]}.
{post_hooks,
  [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
   {"(freebsd)", clean, "gmake -C c_src clean"}]}.
